<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('进货记录列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>商品编码：</label>
                                <input type="text" name="commodityCode"/>
                            </li>
                            <li>
                                <label>进货时间：</label>
                                <input type="text" class="time-input" placeholder="请选择进货时间" name="date"/>
                            </li>
                            <li>
                                <label>进货数量：</label>
                                <input type="text" name="number"/>
                            </li>
                            <li>
                                <label>进货总价：</label>
                                <input type="text" name="totalPrice"/>
                            </li>
                            <li>
                                <label>进货单价：</label>
                                <input type="text" name="unitPrice"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:purchase:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:purchase:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:purchase:remove')}]];
        var prefix = ctx + "system/purchase";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "进货记录",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'purchaseId',
                    title: '',
                    visible: false
                },
                {
                    field: 'commodityCode',
                    title: '商品编码'
                },
                {
                    field: 'date',
                    title: '进货时间'
                },
                {
                    field: 'number',
                    title: '进货数量'
                },
                {
                    field: 'totalPrice',
                    title: '进货总价'
                },
                {
                    field: 'unitPrice',
                    title: '进货单价'
                },
                {
                    field: 'remark',
                    title: '备注'
                }
                ]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>